<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ get_url(path="assets/img/favicon.png") }}" type="image/png">
    <title>Lumaeris</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: #121212;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center">
        <img src="{{ get_url(path="assets/img/wip.png") }}" style="border-radius:30px;" alt="Work in progress">
    </div>
</body>
</html>